.text-center {
    text-align: center;
  }

  .top-image {
    text-align: center;
  }

  .top-image img{
    border-color: cornflowerblue !important;
  }

  .top-hero {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  h1, h2 {
    color: black;
  }

  h3 {
    color: cornflowerblue;
  }

  header > img{
    border: 10px dashed #0F0;
    transition: 1s;
  }

  header img:hover {
    border: 20px solid cornflowerblue
  }

  a {
    color:black;
    transition: ease-in 0.75s;
  }
  a:hover {
    color: rgb(198, 225, 65)
  }
  .tags span {
    border: 1px solid cornflowerblue;
    padding: 5px 10px;
    color: cornflowerblue;
    border-radius: 8px;
    font-size: 0.8rem;
  }
  .top-container {
    background: url('city-g83116ffc4_1920.jpg') no-repeat 50% 50%;
    background-size: cover;
    
  }

  

